p{
  color: blueviolet;
  font-family: Georgia, 'Times New Roman'
 , Times, serif;
  font-weight: bolder;
  text-align: center;
 }
 h1{
  color: blue;
  font-family: Georgia, 'Times New Roman'
 , Times, serif;
  font-weight: bolder;
  text-align: center;
 }
 p{
  color: blueviolet;
  font-family: Georgia, 'Times New Roman'
 , Times, serif;
  font-weight: bolder;
  text-align: center;
 }

